<mat-card class="person">
  <mat-card-header>
    <mat-card-title>{{ person?.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span>Details:</span>
    <ul class="person-card-details">
      <li>ID: {{ person?.id }}</li>
      <li>Height: {{ person?.height }}</li>
      <li>Mass: {{ person?.mass }}</li>
      <li>Hair color: {{ person?.hair_color }}</li>
      <li>Skin color: {{ person?.skin_color }}</li>
      <li>Eye color: {{ person?.eye_color }}</li>
      <li>Birth year: {{ person?.birth_year }}</li>
      <li>Gender: {{ person?.gender }}</li>
      <li>Starships: {{ person?.starships?.length }}</li>
      <li>Vehicles: {{ person?.vehicles?.length }}</li>
    </ul>
  </mat-card-content>
</mat-card>
